* {
    font-family: Arial, Helvetica, sans-serif;
}

.inside {
    width: 80%;
    margin: auto;
}

.input {
    width: 80%;
    height: 30px;
    border: 2px solid lightgray;
    border-radius: 5px;
}

.add-button {
    width: 19%;
    background-color: seagreen;
    color: white;
    height: 35px;
    border-radius: 5px;
    margin-left: 4px;
    font-weight: bold;
}

.add-button:hover {
    background-color: #5dd491;
}

.wrapper-text {
    font-weight: bold;
    display: flex;
}

.checkbox {
    margin-top: 18px;
}

.wrapper-content {
    display: flex;
}

tfoot {

    width: 100%;
}

.editButton,
.deleteButton {
    width: 50px;
    background-color: orange;
    border: none;
    height: 40px;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 5px;
    margin-top: 6px;
}

.deleteButton {
    background-color: crimson;
    width: 80px;
    color: white;
    margin-right: 160px;
}

.editButton:hover {
    background-color: rgb(254, 203, 109);
}

.deleteButton:hover {
    background-color: rgb(241, 109, 136);
}